<app-swirl-cursor></app-swirl-cursor>

<div class="part">
    <div class="container" >
        <h1>My, Myself, I</h1>
        <p>
            I'm a Front-End and Back-End Developer located in BURKINA FASO. I have a passion for the code in general.
        </p>
        <p>
            Well-organised person, designer of new content, already student at Burkina Institute of Technology with a good attention to all details. <br>
            I like TV series, English learning (it's my favorite langage by the way). <br> <br>
            In addition to that my favorite hobbies are Cooking, Singing and Dancing occasionally. <br>
            And I would like to travel in the english countries to perform my english and work if possible.
        </p>
        <p>
            Clodia is entire available and hired full time for Team Working. I'm an ambitious and positive person.
        </p>
    </div>
        
    <div class="part2">
        <p>
            Bootstrap PHP <br> HTML CSS  JavaScript <br> Laravel  Flutter Angular Python <br> SQL Git TypeScript <br> Java  Firebase
        </p>
    </div>
</div>
