<div class="all">
    
    <ul class="nav navbar-nav">
        <div class="part1">
            <nav class="navbar navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="./assets/images/cl.jpg" alt="my name initial" width="100" height="100">
                    </a>
                <h2>Clodia</h2>
                <h6>web developer</h6>
                </div>
            </nav>
        </div>
        
        <div class="part2">
            <li>
                <a (click)="goToIndex()">Home</a>
              </li>
              <li>
                <a (click)="goToAbout()">About Me</a>
              </li>
              <li>
                <a (click)="goToBlog()">Blog</a>
              </li>
              <li>
                  <a (click)="goToSkills()">My Skills</a>
              </li>
              <li>
                  <a (click)="goToContact()">Contacts</a>
              </li>
        </div>
        
        <div class="icon">
            <img src="./assets/images/fcb.jpg" alt="" width="15px">
            <img src="./assets/images/wha.jpg" alt="" width="20px">
            <img src="./assets/images/link.jpg" alt="" width="20px">
            <img src="./assets/images/tel.png" alt="" width="20px">
        </div>

    </ul>

    
</div>
<router-outlet> </router-outlet>