* {
    font-family: 'Lucida Sans';
  }
  .nav{
    float: left;
    justify-content: center;
    background-color: black;
    padding-left: 0;
    margin: 0;
    color: white;
    height: 100vh;
  }
  li {
    text-align: center;
    list-style: none;
    border-bottom: 1px solid rgb(60, 57, 57);
    
    padding-top: 10px;
    padding-bottom: 10px;
}
  
 
  .all ul .part1{
    margin-bottom: 150px;
  }
  .all ul .part1 nav h2,h6{
    margin-right: 20px;
    margin-left: 20px;
  }
  .all ul .icon{
    margin-top: 80px;
  }
  .all ul .icon img{
    margin-left: 5px;
  }
  .all .part2 li a{
    text-decoration: none;
    color: white;
  }
  .all .part2 li a:active{
    color: aquamarine;
    font-weight: bold;
    font-style: normal;
  }
  .all .part2 li a:hover{
    color: aquamarine;
  }
  