<div class="container">
    <h1>Skills & Experience </h1>
    <p>
        As a second year student at Burkina Institute of Technology I acquired a certain amount of knowledge and skills. I can code front-end and back-end applications and websites. I'm very engaged and have a spirit of teamwork.
        I have done an internship at Corporate Health Care Ltd at Ghana so I have company experience. Also I have already held positions of responsibility in active life and I've cerfitications in public speaking training.
        In commercial commercial domain I was sales agent of Orange Burkina.
    </p>
</div>
