<div class="container">
    <div class="part1">
        <h1>Skills & <br> Experience </h1>
        <p>As a second year student at Burkina Institute of Technology I acquired a certain amount of knowledge and skills. I can code front-end and back-end applications and websites. I'm very engaged and have a spirit of teamwork. <br></p>
        <p>I have done an internship at Corporate Health Care Ltd at Ghana so I have company experience. Also I have already held positions of responsibility in active life and I've cerfitications in public speaking training. <br> </p>
        <p> In commercial commercial domain I was sales agent of Orange Burkina.</p>
        
    </div>
    <div class="part2">
        <h3>Front-end</h3>
        <div class="trait1">
            <div class="cl1"></div>
        </div>
        <h3>Back-end</h3>
        <div class="trait2">
            <div class="cl2"></div>
        </div>
        <h3>Angular</h3>
        <div class="trait3">
            <div class="cl3"></div>
        </div>

        <div class="part3">
            <div class="form1">
                <h1>Frontend developer</h1>
                <p>
                    Begining at BIT <br> 2020-2021 <br> Participated in the creation of the corporate health e-sante website.
                </p>
            </div>
            <div class="form2">
                <h1>Backend developer</h1>
                <p>
                    Second year at BIT <br> 2021-2022 <br> Personal learning during the academic year
                </p>
            </div>
        </div>
        
    </div>

    
</div>

